body{
    background-image: url('https://i.pinimg.com/originals/c3/3a/88/c33a88493f4fa3c8e1c564e67eeabf86.jpg');
    background-size: cover; /* Make the background image cover the entire link area */
    background-attachment: fixed;
    font-family: 'Anek Devanagari', sans-serif;
}
.box {
    background-color: rgb(192, 202, 233);
    border-color: rgb(74, 80, 100);
    padding:25px;
    border-style: solid;
    border-radius: 6px;
    border-width: 5;
   
    position: fixed; /* Positioning the box */
    top: 50%; /* Move the box down by 50% of the viewport height */
    left: 50%; /* Move the box right by 50% of the viewport width */
     transform: translate(-50%, -50%); 
    
}
.csplace{
    
    border-radius: 15px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 16px;
    border: 2px solid rgb(74, 80, 100);
}
.csplace::placeholder {
    color: rgb(74, 80, 100);
}
.getButton{
    font-weight:600;
    color:white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 13px;
    border-width:2px;
    border: 2px solid rgb(74, 80, 100);
    background-color: rgb(120, 137, 194);
}
.weather-details {
    display: flex;
    align-items: center; /* Align items vertically */
}

.x {
    margin-left: 80px; /* Add some margin to the left of the image */
    margin-right: 80px;
    width: 60%; /* Adjust the width of the image */
    height: 60%;
}
